.grid-container {
	
}

.grid-item {
 	margin: auto;
	width: 25px;
	height: 25px;
	border: 1px solid;
	padding: 5px;
}

.yellow {
	margin: auto;
	background-color: yellow;
	width: 750px;
	height: 350px;
}

.white {
	display: flex;
	margin: auto;
	background-color: white;
	width: 750px;
	height: 250px;
	justify-content: center;
}

form {
	width: 177px;
	margin: auto auto;/*
	justify-content: center;
	align-items: center;
	display: flex;*/
}

body {
	background-color: grey;
}