.grid-container {
	
}

.yellow {
	margin: auto;
	background-color: yellow;
	width: 750px;
	height: 450px;
}

.white {
	margin: auto;
	background-color: white;
	width: 750px;
	height: 250px;
}

form {
	width: 50%;
	height: 50%;/*
	justify-content: center;
	align-items: center;
	display: flex;*/
	margin: auto;
	position: relative;
	top: 0;
}

body {
	background-color: grey;
}